/* RESET */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul,menu{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* NORMALIZE */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:0.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*:focus {outline: 0}/*RESET*/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul,menu{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* BOX-SIZING */*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
/* CLEARFIX */.clearfix:before,.row:before,.clearfix:after,.row:after{content:"";display:table}.clearfix:after,.row:after{clear:both}.clearfix,.row{zoom:1}

body{overflow: hidden;overflow-y:scroll;}
#element-menu{
	background-color: #FFF !important;
	color:#333 !important;
	font: 12px/15px sans-serif !important;
	position: fixed;
	top:0;bottom: 0;left: 0;width: 360px;padding: 30px;
	overflow: hidden;overflow-y:scroll;
	text-align: left !important;
}
#element-menu-title{
	font: 28px/1.3em sans-serif !important;
	margin-bottom: 25px;
}
#element-menu li{
	padding: 10px !important;
	border-bottom:dotted 1px #CCC;
}
#element-menu li a{
	display: inline-block !important;	
	color:#333 !important;
	text-decoration: none;
}
#element-menu li a:hover{
	text-decoration: underline;
}
#element-menu li .element-menu-selector{
	display: inline-block;
	width: 15px;height: 15px;border: solid 1px #999;
	margin: 0 10px 0 0;
	cursor:pointer;
	position: relative;top:2px;
}
#element-menu li.selected{
	background-color: #E9F5ED;
}
#element-menu li.selected .element-menu-selector{
	background-color: #29C861;
	box-shadow: inset 0 0 0 1px #FFF;
}
#element-menu li:first-child{
	border-top:dotted 1px #CCC; 
}
#element-screen{
	margin-left:360px;
}

#page{
	padding-top: 30px;padding-bottom:30px;
	width: 92%;
	max-width: 1300px;
	margin:0 auto;
}

.element-module:before,
.element-module:after{content:"";display:table}
.element-module:after{clear:both}
.element-module{	
	zoom:1;
	border-bottom: solid 1px #CCC;
	padding-bottom: 30px;
	margin-bottom: 30px;
	min-height: 300px;
	display: none;	
	padding-right: 450px;
	position: relative;
}
.element-module.selected{
	display: block;
}

.element-module-title{
	font: bold 20px/40px  sans-serif !important;
	padding: 0 20px;
	color: #999;	
	border-bottom: dotted 1px #CCC;
	max-width: 300px;
	margin-bottom: 30px;
}
.element-code{
	position: absolute;
	top:0;right: 0;bottom: 30px;width:400px;
}
.element-code-tools{
	position: absolute;z-index: 100;
	top:5px;right: 5px;left: 5px;
	text-align: right;
}
.element-code-tool-a{
	display: inline-block;
	font: 10px/20px sans-serif !important;
	background-color: #0E9BFF;
	color: #FFF;
	padding: 0 5px;
	cursor: pointer;
	border-radius: 2px;
}
.element-code-tool-a:hover{
	background-color: #37ACFF;
}
.element-code-tool-a:active{
	background-color: #077BCD;
}
.element-code-pre,
textarea.element-code-textarea{
	display: block;
	font-family: monospace;
	font-size: 12px;
	line-height: 1.3em;
	background-color: #EEE;
	border: solid 1px #CCC;
	color:#333;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	position: absolute;z-index: 98;
	top:0;left: 0;width:100%;height:100%;
	resize:none;
	border-radius: 0 !important;
}

.element-code.unsaved .element-code-tool-a{
	background-color: #FF2E0E;
}
.element-code.unsaved textarea.element-code-textarea{
	border: solid 1px #FF2E0E;
}

#main-c .element-code{
	width:800px;
}
#main-c.element-module{
	min-height:800px;
}

/*****************************/
.col-content{
	line-height: 40px;
	background-color: #EEE;
	border: solid 1px #CCC;
	border-radius: 2px;
	padding: 0 10px;
	margin-bottom: 10px;
	overflow: hidden;
	font-size: 12px;
}